# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
.fleek/

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# Only keep frontend and backend directories and configuration files
/*
!/frontend/
!/backend/
!.gitignore
!README.md
!netlify.toml
!package.json
!package-lock.json
